.button,
button,
input[type="submit"] {
    background: $color-primary;
    border: none;
    color: white;
    padding: 10px 20px;
    text-decoration: none;

    &:hover {
        background: $color-primary-dark;
        color: white;
    }
}

.button-block {
    display: block;
    text-align: center;
    width: 100%;
}