.alignleft,
.alignright {
    @include center-block;
    margin-bottom: 1.5em;
}

@media (min-width: 600px) {
    .alignleft,
    .alignright {
        display: inline;
        position: relative;
        z-index: 20;
    }

    .alignleft {
        float: left;
        margin-right: 1.5em;
    }

    .alignright {
        float: right;
        margin-left: 1.5em;
    }
}

.aligncenter {
    clear: both;
    @include center-block;
    margin-bottom: 1.5em;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}