$color-primary: #333; // Charcoal
$color-primary-light: lighten($color-primary, 10);
$color-primary-dark: darken($color-primary, 5);
$color-secondary: #3a87ad; // Dark blue
$color-tertiary: #eee; // Grey