.main-navigation {
    margin: 0;

    ul {
        display: none;
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;

        a {
            @include font-size(1.2);
            color: white;
            display: block;
            letter-spacing: .1em;
            padding: 1em;
            text-decoration: none;
            text-transform: uppercase;

            &:hover {
                color: white;
            }
        }
    }

    &.toggled ul {
        display: block;
    }
}

.menu-toggle {
    display: block;
    margin: 1.5em auto;
}

@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }

    .main-navigation {
        padding: 0;

        ul {
            display: block;

            ul {
                float: left;
                position: absolute;
                top: 1.5em;
                left: -999em;
                z-index: 99999;

                ul {
                    left: -999em;
                    top: 0;
                }

                li {
                    &:hover > ul,
                    &.focus > ul {
                        left: 100%;
                        top: 0;
                    }
                }

                a {
                    width: 200px;
                }
            }

            li {
                display: inline-block;
                position: relative;

                &:hover,
                &:focus {
                    > ul {
                        left: auto;
                        top: 100%;
                    }
                }
            }
        }

        .sub-menu {
            background: $color-primary;
            text-align: left;

            a {
                padding: 1em 2em;

                &:hover {
                    background: $color-primary-light;
                }
            }
        }
    }
}

@media (min-width: 800px) {
    .main-navigation {
        flex: 1;

        ul {
            text-align: right;
        }
    }
}

/* Social Media */
#social-links {
    a {
        @include font-size(1.6);
        display: inline-block;
        padding-left: 2px;
        padding-right: 2px;
    }
}