.pagination {
    padding-top: 1.5em;

    .layout-style-boxed & {
        margin: 0 -15px;
        padding: 1.5em 15px 0;

        @media (min-width: 768px) {
            margin: 0 -30px;
            padding: 1.5em 30px 0;
        }
    }

    span, a {
        display: inline-block;
        padding: 5px 10px;
    }

    .current {
        background: $color-primary;
        color: white;
        margin-right: 5px;
        padding-left: 15px;
        padding-right: 15px;
    }
}