@import "susy";

$susy: (
        columns: 12,
        container: 1100px,
        global-box-sizing: border-box,
        gutters: 1 // was 10
);

@include border-box-sizing();

@media (min-width: 768px) {
    .has-sidebar {
        #main {
            @include span(8 of 12);
        }

        #sidebar {
            @include span(4 of 12 last);
        }
    }

    .sidebar-is-off {
        #secondary {
            display: none;
        }
    }
}