*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@media (min-width: 768px) {
    .has-sidebar {
        #main {
            width: 65.21739%;
            float: left;
            margin-right: 4.34783%;
        }

        #sidebar {
            width: 30.43478%;
            float: right;
            margin-right: 0;
        }
    }

    .sidebar-is-off {
        #secondary {
            display: none;
        }
    }
}
