#footer-widgets {
    color: white;
    margin: 0 -15px;

    .widget {
        margin: 1.5em 0;
    }

    .widget-title {
        color: white;
        margin: 0 0 15px;
        text-align: center;
    }

    @media (min-width: 768px) {
        & {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
        }

        &.widget-columns-1 {
            .widget {
                width: 100%;
            }
        }

        &.widget-columns-2 {
            .widget {
                width: 49%;
            }
        }

        &.widget-columns-3 {
            .widget {
                width: 32.3%;
            }
        }

        &.widget-columns-4 {
            .widget {
                width: 24%;
            }
        }

        &.widget-columns-5 {
            .widget {
                width: 19%;
            }
        }
    }
}

#footer {
    @include font-size(1.3);
    background: $color-primary;
    color: #afafaf;
    margin-top: 1.5em;
    padding: 1.5em 0;

    a {
        color: white;

        &:hover {
            text-decoration: underline;
        }
    }
}

.site-info {
    text-align: center;
}