body {
    background: white;
}

/* Branding */
#header {
    background: $color-primary;
    color: white;
    margin: 0 0 1.5em;
    padding: 1em 0;

    @media (min-width: 768px) {
        margin-bottom: 2em;
    }
}

.site-title {
    @include font-size(3.0);
    margin: 0;

    a {
        color: white;
        text-decoration: none;
    }
}

.site-description {
    @include font-size(1.5);
    font: {
        family: Lora, Georgia, sans-serif;
        style: italic;
    }
    margin: 0;
}

@media (min-width: 800px) {
    #header > .container {
        display: flex;
        align-items: center;
    }

    .site-branding {
        max-width: 40%;
        padding-right: 20px;
    }
}

/* Social Media */
.social-media-links {
    @include font-size(2.4);

    ul {
        @include list-inline;

        li {
            margin-right: 5px;
        }
    }

    @media (min-width: 768px) {
        @include font-size(1.6);
    }
}