.widget {
    margin: 0 0 1.5em;
}

.widget-area {
    .button,
    input[type="submit"],
    button {
        &:not(.screen-reader-text) {
            display: block;
            margin-top: 3px;
            width: 100%;
        }
    }
}

.widget-title {
    @include font-size(2.0);
    display: block;
    font: {
        weight: 400;
    }
    margin: 0 0 15px;
    position: relative;
    text-align: center;
    text-transform: none;
}

#below-posts-widget-area {
    margin-bottom: 1.5em;
}

.widget {
    &.highlight {
        background: $color-primary;
        color: white;
        padding: 15px;

        .widget-title {
            color: white;

            span {
                background: $color-primary !important;
            }

            &:before {
                background: white !important;
            }
        }

        .button,
        button,
        input[type="submit"] {
            background: white;
            color: $color-primary;

            &:hover {
                background: $color-primary;
                color: white;
            }
        }
    }
}

/* Responsive Stuff */
.sidebar-toggle {
    display: block;
    margin: 0 auto 15px;

    @media (min-width: 768px) {
        display: none;
    }
}

#sidebar {
    display: none;

    &.toggled {
        display: block;
    }

    .widget {
        background: #f4f4f4;
        padding: 1em;

        input[type="email"],
        input[type="password"],
        input[type="search"],
        input[type="url"],
        input[type="text"],
        select,
        textarea {
            background: white;
        }
    }

    @media (min-width: 768px) {
        display: block;
    }
}